.todolist-container{
    // border: 1px solid black;
    width: 75%;
    margin: 2% auto 2% auto;
    padding: 2%;

    .todo-list{
        // border: 1px solid blue;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2%;
    }

    .clear-div{
        

        button {
            background: none;
            border-radius: 4px;
            font-size: 0.9rem;
        }
        button:hover {
            background-color: white;
            color: mediumslateblue;
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
    }
}